REACT_APP_GITHUB_TOKEN = "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"
GITHUB_USERNAME = "shruthey"
// Set to true to fetch profile data from GitHub (remember to remove all components relying on GitHub data if set to false)
USE_GITHUB_DATA = "true"