/* Colors */
:root {
  --primary-color: #2c446f; /* Header and section backgrounds */
  --secondary-color: #90ae85;
  --text-color: #468f92; /* Text color on dark backgrounds */
  --background-color: #b2d1c9; /* Page background color */
  --accent-color: #770b0e; /* Accent text color */
}

/* Fonts */
:root {
  --font-family: Verdana;
}

/* Spacing */
:root {
  --section-padding: 40px; /* Padding for sections */
  --section-margin: 20px; /* Margin between sections */
}

/* Responsive Breakpoints */
:root {
  --max-screen-width: 768px; /* Max screen width for responsive design */
}
