.home-container {
  display: flex;
  width: 100%;
}

.name-container {
  color: transparent;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 100px 300px 200px 100px;
  font-stretch: ultra-expanded;

  .name {
    font-size: 100px;
    font-weight: lighter;
    background: linear-gradient(to bottom, var(--accent2), var(--accent1));
    -webkit-background-clip: text;
  }

  .tagline {
    font-size: medium;
    color: var(--accent1);
    -webkit-background-clip: text;
  }
}
